<h1><%= gaugeReading.gaugeName %></h1>
<h2><%= gaugeReading.date %></h2>
<h2><%= gaugeReading.time %></h2>
<h2><a href = "https://www.google.com/maps/@<%= gaugeReading.lat %>,<%= gaugeReading.lon %>,12z" target="_blank"><%= gaugeReading.lat %>, <%= gaugeReading.lon %></a></h2>
<!-- <h2><%= gaugeReading.flowRate %> cfs </h2> -->
