<h1><%= gaugeReading.gaugeName %></h1>
<h2><%= gaugeReading.date %></h2>
<h2><%= gaugeReading.time %></h2>
<h2><a href = "https://www.google.com/maps/dir/?api=1&origin=&destination=<%= gaugeReading.lat %>,<%= gaugeReading.lon %>" target="_blank"><%= gaugeReading.lat %>, <%= gaugeReading.lon %></a></h2>
<!-- <h2><%= gaugeReading.flowRate %> cfs </h2> -->
